*{
    padding: 0;
    margin: 0;
}

.if{
    width: 350px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 
    0 1px 3px rgba(0, 0, 0, 0.08);
    padding: 12px;
}

.switch{
    width: 350px;
    height: 350px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 
    0 1px 3px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 12px;
}

.for1{
    width: 350px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 
    0 1px 3px rgba(0, 0, 0, 0.08);
    padding: 12px;
}

.for1-1{
    width: auto;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 
    0 1px 3px rgba(0, 0, 0, 0.08);
}

.whilee{
    width: 350px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 
    0 1px 3px rgba(0, 0, 0, 0.08);
    padding: 12px;
    gap: 12px;
}

.whilee2{
    width: 350px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 
    0 1px 3px rgba(0, 0, 0, 0.08);
    padding: 12px;
    gap: 12px;
}
main{
    flex-wrap: wrap;
    gap: 12px;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    justify-content: center;
}


input{
    height: 20px;
}


.papa{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


button{
    background-color: #4c66af;
    color: white; 
    padding: 5px ;
    border: none; 
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover{
    background-color: #2f4da1;
}

input {
    width: 100%; /* Ocupa el ancho completo del contenedor */
    padding: 12px; /* Espacio interno del input */
    display: inline-block;
    border: 1px solid #ccc; /* Borde gris claro */
    border-radius: 10px; /* Bordes redondeados */
    box-sizing: border-box; /* Asegura que el padding no expanda el ancho total */
    font-size: 14px; /* Tamaño de texto */
    font-family: Arial, sans-serif; /* Fuente para el texto */
    transition: 0.3s; /* Transiciones suaves para hover y focus */
}
input:hover{
    border: 1px solid #2f4da1; /* Cambia el color del borde */
}

input:focus{
    border: 1px solid #5a9; /* Borde verde claro al seleccionar */
    outline: none; /* Elimina el borde de selección por defecto */
    box-shadow: 0 0 8px rgba(90, 118, 169, 0.5); 
}